obj = {
  foo: 'foo'
  bar: 'bar'
  abc: {
    a: 'a'
    b: 'c'
    nest: {
      q: '1',
      b: 'bar'
    }
  }

}

obj2 = {
  baz: 'baz'
  abc: {
    a: 'x'
    nest: {
      b: '2'
    }
  }
}


body

  test: merge(obj, obj2, { qux: 'qux' }, true).qux
  test: extend(obj, { foo: 'foo1' }).foo
  test: merge(obj,obj2, true).abc.a
  test: merge(obj,{abc: 'abc'}).abc
  test: merge(obj,obj2, true).abc.nest.q
  test: merge(obj,obj2, false).abc.nest.b
